* {
  box-sizing: border-box;
}
header {
  width: 100%;
  background-color: purple;
  height: 150px;
}
aside {
  padding: 30px;
  width: 30%;
  background: blue;
  height: 300px;
  float: left;
}
.main-content {
  width: 70%;
  background: green;
  height: 300px;
  float: left;
}
footer {
  width: 100%;
  background: pink;
  height: 100px;
  clear: both;
}